* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    background-color: rgba(240, 248, 255, 0.77);
    height: 5vh;
    text-align: center;
    
    
}

nav > a {
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: x-large;
    padding: 10px;
    text-shadow: 1px 1px 1px black;
        
}

nav > a:hover {
    color: greenyellow;
    
}