@charset "UTF-8";

/* Estilo para telas */



* {
    margin: 0;
    padding: 0;

}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: #1D64C2;
    color: #363738;

}

header > h1 {
    text-align: center;
}

body {
    background-color: #363738;
    color: white;
    height: 100vh;
}

.phone {
    width: 500px;
    display: block;
    margin: auto;
    padding: 5px;
}

article p {
    padding: 10px;
}

article > h2 {
    padding: 10px;
}

menu ul {
    list-style-type: none;
    background-color: #7FADEB;
    color: #363738;
    text-align: center;
}

menu li {
    display: inline-block;
    padding: 10px;
    
}

 article {
    width: 600px;
    display: block;
    margin: auto;
 }

 footer {
    background-color: #D9E8FC;
    color: #363738;
    text-align: center;
    padding: 5px;
    

 }